PhD Degree Requirements
BREADCRUMB
Home PhD
The information below is a summary of the formal degree requirements for the PhD in ECE.
Complete  approved courses for PhD degree
Complete Responsible Conduct of Research (RCR) training
Complete the Qualifying Examination (QE)
Establish and meet with a Supervisory Committee
Complete the Preliminary Examination
Complete two Teaching Assistantship assignments
Prepare and defend a dissertation [dissertation guidelines]
Complete the Final Examination
 COURSEWORK REQUIREMENTS
For students matriculating with a bachelor's degree, a minimum of 10 courses are required, as follows: 
Six graduate-level courses in ECE (500-level or higher)
Two approved graduate-level technical electives (500-level or higher, technical in nature, and chosen to provide a coherent program of study)
Two approved electives (chosen to provide a coherent program of study)
For students matriculating with a master's degree from another institution, a minimum of five (5) courses are required, as follows: 
Three graduate-level courses in ECE (500-level or higher)
One approved graduate-level technical elective (500-level or higher, technical in nature, and chosen to provide a coherent program of study)
One approved elective (chosen to provide a coherent program of study)
A program of study detailing the planned/completed coursework must be approved at the Qualifying Exam (bring to exam with advisor's signature) and Preliminary Exam stages of the PhD.  
Access the ECE PhD Program of Study 
Important Notes
 QUALIFYING EXAMINATION (QE)
The purpose of the Qualifying Exam is to assess the potential to succeed in the PhD program by having students demonstrate:
Reading and deeply understanding three selected papers in the field
Understanding the strengths and shortcomings of the three papers
Understanding why the particular problem space defined by the three papers is important
Generating sound research ideas based on the strengths and shortcomings of the three papers
Writing and presenting information supporting the points above
Qualifying Exam Details
Qualifying Exam Guidelines
QE Student Procedural Guidelines (step-by-step how-to document)
QE Details Approval/Submission Form
 SUPERVISORY COMMITTEE
The supervisory committee is formed in preparation for the preliminary examination and must consist of at least five members (including the student’s advisor), at least three of which must be graduate ECE faculty members.
In addition, as required by The Graduate School, at least one (1) member of the committee must be from either another department or a clearly separate field of study within the Duke ECE Department. Committees are proposed using the Committee Approval Form.
Note: While the Graduate School's Committee Approval Form lists a minimum of four (4) committee members, the ECE Department requires five (5) committee members.
 TEACHING ASSISTANTSHIP
All PhD students must complete two semesters of a Teaching Assistantship (TA) prior to graduation. We provide training before you enter an undergraduate classroom for the first time.
The student is expected to complete this requirement sometime during his or her third through the eighth semester. Teaching Assistantships will be assigned by the DGS based on the background and interests of the student and the current department needs.
Teaching Assistantships are expected to require 10 hours per week on average and may involve such activities as organizing and leading discussion sections, grading homework and quizzes, assisting in the development of course materials, supervising laboratory sessions and so forth.
TA training information »
 PRELIMINARY EXAMINATION
The preliminary examination, which must be completed by the end of academic year three, consists of (1) a written dissertation research proposal and 2) an oral presentation and defense of this proposal to an approved five-member faculty committee.
The written dissertation research proposal should consist of a 10-page (maximum) report plus appendices providing additional supporting information as well as an anticipated timeline for completion of all PhD degree requirements.
The oral presentation, approximately 45 minutes with extra time allotted for questions posed by the committee throughout and after the presentation, should reflect the contents of the report.
Preliminary Exam Description
Preliminary Exam Student Procedural Guidelines
Graduate School PhD Committee Approval Form
Preliminary Exam Details Form
Preliminary Exam Outcome Form
Preliminary Exam Rubric
 FINAL EXAMINATION
The student must follow the Graduate School’s guidelines for submitting the dissertation and scheduling the Final Examination, including submitting the departmental defense announcement to the ECE Graduate Office and uploading the dissertation at least two weeks prior to the defense.
Final Exam Student Procedural Guidelines
Graduate School Guide for Electronic Submission of Theses and Dissertations
Graduate School PhD Committee Change Form
Final Exam Details Form
Departmental Defense Announcement
Note: Details concerning important dates and deadlines, filing of intention to graduate, committee approval, and additional details may be found in the Graduate Bulletin.
Quick Facts & Statistics
More about Student Services & Amenities
Meet Engineering PhD Alumni
BROWSE ONLINE
JOIN OUR MAILING LIST!
Sign up to receive more information about Duke Engineering graduate programs and recruitment events »
PHD CONTACTS
Michael E. Gehm
Director of Graduate Studies and Professor of Electrical and Computer Engineering
919-660-5544
dgs@ee.duke.edu
Angela Chanh
Assistant Director of Graduate Studies
919-660-5245
ecephdteam@duke.edu
Kevyn Light
Senior Program Coordinator
919-660-5267
ecephdteam@duke.edu
Matthew Novik
Graduate Program Coordinator
919-660-1801
ecephdteam@duke.edu